# Ignore Python cache and virtual environments
__pycache__
*.pyc
venv/
gan_shmuel/

# Ignore Git files
.git
.gitignore

# Ignore environment variables and credentials
.env

# Ignore log files and other temporary files
*.log
*.out
*.err

# Ignore database files
*.sql
*.sqlite3
*.db

# Ignore OS-specific files
.DS_Store
Thumbs.db
