# Environment variables
.env

# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
gan_shmuel/

# Logs
*.log
*.out
*.err

# MySQL and database files
*.sql
*.sqlite3
*.db

# Flask and other cache files
instance/
.mypy_cache/
.pytest_cache/
.cache/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
